<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="icon" th:href="@{/images/img.png}" type="image/png">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="sidebar">
    <div class="logo">
        <img th:src="@{/images/img.png}" alt="logo">
        <span>AnchorzUp</span>
    </div>
    <h3>My shortened URLs</h3>
    <div id="linksContainer"></div>
</div>

<div class="main">
    <h2>URL Shortener</h2>
    <form id="shortenForm" class="form">
        <div class="inputs">
            <input type="text" id="originalUrl" name="originalUrl" placeholder="Paste the URL to be shortened" required>
            <div class="select-wrapper">
                <select id="ttlInMinutes" name="ttlInMinutes">
                    <option value="">Add expiration date</option>
                    <option value="1">1 minute</option>
                    <option value="5">5 minutes</option>
                    <option value="30">30 minutes</option>
                    <option value="60">1 hour</option>
                    <option value="300">5 hours</option>
                </select>
            </div>
        </div>
        <button type="submit">Shorten URL</button>
    </form>

    <div id="shortUrlResult"></div>
</div>


<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Are you sure you want to delete this link?</p>
        <div class="modal-buttons">
            <button id="confirmDelete">Yes, Delete</button>
            <button id="cancelDelete">Cancel</button>
        </div>
    </div>
</div>

<script>
    // Pass base URL from backend to frontend
    window.BASE_URL = /*[[${baseUrl}]]*/ 'http://localhost:8080/';
</script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
